.carousel-caption {
	top: 0;
	h3 {
		margin-top: 0;
		text-shadow: none;
		font-family: 'OpenSans-Extrabold';
		font-size: 3em;
	}
}

.carousel-indicators 
{
	.indicatorPlaceholder, %indicatorPlaceholder {
		border: 0;
		margin: 0 2px;
	}
	li {
		@extend %indicatorPlaceholder;
		background-color: $greyscale-color1;
		
	}
	.active {
		@extend %indicatorPlaceholder;
		background-color: $primary-color1;
		width: 10px;
		height: 10px;
	}
}