.carousel-caption {
	top: 0;
	h3 {
		margin-top: 0;
		text-shadow: none;
		font-family: 'OpenSans-Extrabold';
		font-size: 3em;
	}
}

.carousel-indicators 
{
	.indicatorPlaceholder, %indicatorPlaceholder {
		border: 0;
		margin: 0 2px;
	}
	li {
		@extend %indicatorPlaceholder;
		background-color: $greyscale-color1;
		
	}
	.active {
		@extend %indicatorPlaceholder;
		background-color: $primary-color1;
		width: 10px;
		height: 10px;
	}
}

.anythingSlider-default {
	padding: 0;	
	.anythingWindow {
		border-top: 0; // Removes the top and bottom borders
		border-bottom: 0;
	}
}

.anyslider {
	width: 100%;
	height: 500px; // Can be changed later based on what the site requires
}

.carousel-inline-images {
	float:left;
	margin-right: 27px;
}

// Spacer div between two rows of images in the anything slider
.carousel-spacer {
	clear: both;
	width: 100%;
	height: 27px;
}