/*LIGHT*/
@font-face {
  font-family: "OpenSans-Light";
  src:url("../fonts/OpenSans-Light.ttf");
  font-weight: normal;
  font-style: normal;

}

/*REGULAR*/
@font-face {
  font-family: "OpenSans-Regular";
  src:url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;

}

/*BOLD*/
@font-face {
  font-family: "OpenSans-Bold";
  src:url("../fonts/OpenSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;

}


/*ITALIC*/
@font-face {
  font-family: "OpenSans-Italic";
  src:url("../fonts/OpenSans-Italic.ttf");
  font-weight: normal;
  font-style: italic;

}

/*BOLD ITALIC*/
@font-face {
  font-family: "OpenSans-BoldItalic";
  src:url("../fonts/OpenSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;

}