// Primary Link

.link-primary, .link-secondary {
    color: $greyscale-color5;
    text-decoration: none;
}

.link-primary:hover, .link-secondary:hover {
    color: $greyscale-color5;
    text-decoration: underline;
    font-family: 'OpenSans-Bold';
}

.link-primary:visited, .link-secondary:visited {
	color: $greyscale-color5;
    text-decoration: none;	
}

.link-primary:active, .link-secondary:active {
	color: $greyscale-color5;
    text-decoration: none;
}

// Secondary Link Color
.link-secondary, .link-secondary:hover, .link-secondary:visited, .link-secondary:active {
	color: $primary-color1;
}