.carousel-container {
	padding: 0;
}

.additional-margin-top {
	margin-top: 90px;
}

h1.reduce-margin-top {
	margin-top: 10px;
}

img.welcome-church-logo {
	height: 150px;
	width: 100%;
}

.datepicker-container {
	padding-right: 0;
	padding-left: 0;
}

.datepicker-inline {
	width: 100%;
	.table-condensed {
		width: 100%;
	}
}
.event-container {
	border: 1px solid $greyscale-color2;
	border-left: 0;
	min-height: 250px;
	height: 250px;
    overflow-y: scroll;
	.margin-top-20 {
		margin-top: 20px;
	}
	.margin-bottom-40 {
		margin-bottom: 40px;
	}
}
@media screen and (max-width: 767px) {
    // Remove the spacing for the lower resolutions - below 768px
    .additional-margin-top {
        margin-top: 0;
    }
}