.thin {
    font-family: "OpenSans-Light";
}

.bold {
    font-family: 'OpenSans-Bold';
}

.italic {
    font-family: 'OpenSans-Italic';
}

.bold-italic {
    font-family: 'OpenSans-BoldItalic';
}

.upper {
	text-transform: uppercase;
}